// built mobile first
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 15px;
}

.button_switch_container {
  padding: 20px;
  border: 1px dotted black;
  .button_switch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    p {
      padding-top: 0;
      padding-bottom: 10px;
    }

    button p {
      margin: 0;
      padding-bottom: 0;
    }
  }
}

.portfolio-pic {
  padding-top: 20px;
}
.trollface-pic {
  padding-top: 20px;
}
.work {
  padding-left: 1em;
}

.social {
  ul {
    display: flex;
    list-style: none;
    padding-top: 0;
  }
  a {
    color: black;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
      color: #008c23;
    }
  }
  li {
    font-size: 25px;
  }
}

// lightmode & darkmode
.lightmode {
  background-color: white;
}
.darkmode {
  background-color: black;
  color: green;
  h2 {
    border-bottom: 2px solid grey;
  }
  button {
    background-color: black;
    border-color: #008c23;
    color: #008c23;
  }

  .button_switch_container {
    border-color: #008c23;
  }
  .social ul li a {
    color: grey;
    &:hover {
      color: blue;
    }
  }
  .svg {
    filter: invert(0.3) sepia(6) saturate(6) hue-rotate(90deg);
  }
}

@media only screen and (min-width: 480px) {
  .container {
    height: 100vh;
  }
  .darkmode {
    height: 100vh;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .container {
    height: 100vh;
  }
  .darkmode {
    height: 100vh;
  }
}

// desktop
@media only screen and (min-width: 992px) {
  .container {
    height: 100vh;
  }
  .darkmode {
    height: 100vh;
  }
}

// large screens
@media only screen and (min-width: 1280px) {
  .container {
    height: 100vh;
  }
  .darkmode {
    height: 100vh;
  }
}
