// lightmode & darkmode
.lightmode {
  background-color: white;
}
.darkmode {
  background-color: black;
  color: green;
  h2 {
    border-bottom: 2px solid grey;
  }
  button {
    background-color: black;
    border-color: #008c23;
    color: #008c23;
  }
  .button_switch_container {
    border-color: #008c23;
  }
  .social ul li a {
    color: grey;
  }
}

// built mobile first
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 50px;
}

.button_switch_container {
  padding: 20px;
  border: 1px dotted black;
  .button_switch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    p {
      padding-top: 0;
      padding-bottom: 10px;
    }

    button p {
      margin: 0;
      padding-bottom: 0;
    }
  }
}

.portfolio-pic {
  padding-top: 20px;
}
.trollface-pic {
  padding-top: 20px;
}
.work {
  padding-left: 1em;
}

.social {
  ul {
    display: flex;
    list-style: none;
    padding-top: 0;
  }
  a {
    color: black;
    margin-right: 10px;
  }
  li {
    font-size: 25px;
  }
  li a:hover {
    cursor: pointer;
    color: #008c23;
  }
}
